$backgrund-one: #f7f7f7;
$backgrund-two: #e6e4de;
$text-one: #303030;
$text-two: #929292;
$section-one: #6c524b;
$section-two: #e6e4de;

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
    overflow-x: hidden;
}
@keyframes opacity {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes slideIn {
  0% {
    transform: translateX(39vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
a{
  text-decoration: none;
  color: #000000;
}
.nav-bar{
  background-color: $backgrund-one;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  .logo{
    font-size: 2vw;
    margin-left: 4vw;
    line-height: 25px;
    p{
      overflow: hidden;
      font-size: .8vw;
    }
  }
}
.navbar {
  overflow: hidden;
  a {
    line-height: 0px;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 1vh 1vw;
    background-color: inherit;
    font: inherit;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $backgrund-one;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .column {
    animation-name: opacity;
    animation-duration: .6s;
    float: left;
    width: 20vw;
    height: 75vh;
      a {
        float: none;
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: center;

      }
      h3{
        text-align: center;
      }
  }
  .column-img{
    float: left;
    animation: slideIn 1.5s ease-in-out;
    background-color: $backgrund-two;
    width: 39vw;
    height: 75vh;
    text-align: center;
      img{
        display: block;
        margin: auto;
        margin-top: 5vh;
        height: 50vh;
        width: 15vw;
      }
  }
}
.icons{
  text-align: center;
  padding: 14px 16px;
  a{
    margin-left: 30px;
    font-size: 16px;
  }
}
.section-one{
  background-color: $section-one;
  display: grid;
  grid-template-columns: 8fr 4fr;
  .image{
    overflow: hidden;
    img{
      width: 33vw;
      height: 100vh;
    }
  }
  .text{
    margin-top: 30vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    animation: opacity 3s;
    line-height: 36px;
    h5{
      
      font-size: 20px;
      color: #c4c4c4;
    }
    p{
      overflow: hidden;
      font-size: 42px;
    }
    a{
      font-size: 20px;
      color: #ffffff;
      background-color: inherit;
      text-decoration-line: underline;
    }
  }
}
.section-two{
  background-color: $backgrund-one;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  overflow: hidden;
    .image-element{
      overflow: hidden;
      img{
        width: 40vw;
        height: 90vh;
        padding-left: 5vw;
      }
    }
    .offer{
      float: left;
      background-color: $backgrund-one;
      width: 39vw;
      height: 100vh;
      text-align: center;
        img{
          display: block;
          margin: auto;
          margin-top: 15vh;
          height: 550px;
          width: 350px;
        }
    }
}
.section-three{
  background-color: $backgrund-two;
  display: grid;
  grid-template-columns: 6fr 3fr 3fr;
  overflow: hidden;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
    .image-element{
      overflow: hidden;
      img{
        width: 25vw;
        height: 80vh;
      }
    }
    .text{
      padding-left: 50px;
      padding-right: 300px;
      padding-top: 100px;
      p{
        font-size: 20px;
      }
      a{
        text-decoration: underline;
        font-weight: bold;
        font-size: 15px;
      }
    }
}
.section-four{
  display: grid;
  grid-template-columns: 1fr;
  h5{
    text-align: center;
    font-size: 15px;
  }
  .offer-list{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding-right: 10vw;
    padding-left: 10vw;
    .offer{
      float: left;
      width: 20vw;
      height: 100vh;
      text-align: center;
        img{
          display: block;
          margin: auto;
          margin-top: 15vh;
          height: 550px;
          width: 350px;
        }
    }
  }
}
.section-five{
  background-color: $section-one;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 5vw;
  padding-right: 5vw;
  .img-text{
    position: relative;
    width: 45vw;
    img{
      width: 45vw;
      height: 90vh;
    }
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .offer{
    background-color: $section-one;
    width: 50vw;
    height: 90vh;
    text-align: center;
      img{
        display: block;
        margin: auto;
        margin-top: 15vh;
        height: 550px;
        width: 350px;
      }
  }
}
@media (min-width:1025px){  
.mobile{
  display: none;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .desktop{
    display: none;
  }
  .nav-bar{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 20px;
    .logo{
      font-size: 4vw;
      margin-left: 4vw;
      line-height: 25px;
      p{
        overflow: hidden;
        font-size: 1.6vw;
      }
    }
  }
  .section-one{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .desktop{
    display: none;
  }
  .nav-bar{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 20px;
    .logo{
      font-size: 5vw;
      margin-left: 4vw;
      line-height: 25px;
      p{
        overflow: hidden;
        font-size: 1.9vw;
      }
    }
  }
  .section-one{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .desktop{
    display: none;
  }
  .nav-bar{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 20px;
    .logo{
      font-size: 9vw;
      padding-left: 4vw;
      line-height: 32px;
      p{
        overflow: hidden;
        font-size: 3.4vw;
      }
    }
  }
  .section-one{
    display: grid;
    grid-template-columns: 1fr;
  }
}